:root {
  --naranja: #e09a3b ;
  --grey-dark-color: #575756;
  --grey-light-color: #f8fafc;
  --verde-oscuro: #46846E;
  --verde-medio: #499668;
  --verde-claro: #e2f2ec;
  --azul-oscuro: #040849;
  --gris-oscuro: #575756;
  --gris-claro: #EFEFEF;
  }

// Body
$body-bg: #ffffff;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

//Font color
$text-color: #000000;
$background-color: #ffffff;
$blue-color: #45B4BD;
$orange-color: #EE7B27;
$yellow-color: #F6C115;




